body
{
	font-family: "times new roman";
	font-size: 20pt;
	color: #FCA311;
	background-color: black;
	text-align: center;
}
.rift
{
	border-style: solid;
	border-color: #FCA311;
	height: 400px;
}
.justify
{
	text-align:justify;
}
