body
{
	font-family: "times new roman";
	font-size: 20pt;
	color: white;
	background-color: #7289DA;
	text-align: center;
	margin-left: 170px;
}
.rift
{
	border-style: solid;
	border-color: #FCA311;
	height: 400px;
}
.justify
{
	text-align:justify;
}
ul{
	font-size: 20pt;
}

#contents
{
	font-size: 20pt;
}
#navbar {
	text-align:left;
	height: 100%; 
	width: 165px; 
	position: fixed; 
	z-index: 1; 
	top: 0; 
	left: 0;
	background-color: black; 
	overflow-x: hidden; 
	padding-top: 20px;
	color:#FCA311; 
}